# <font color=blue> Fundamentals of Data Analysis Project 2019 </font>

## <center> Tips Dataset </center>

### Table of Contents


1. [ Python Libraries ](#lib)
2. [ Tips dataset csv ](#tip)
3. [ Dataset Summary](#sum)
    * [Shape](#shape)
    * [ Columns ](#columns)
    * [ Info ](#info)
    * [ Unique Species ](#unique)
    * [ Null Values ](#isnull)
    * [ Class Distribution ](#class)
    * [ Head of each species ](#head)
    * [ Tail of each species ](#tail)
8. [Statistics of the Iris Dataset](#stat)
9. [Visualize the dataset](#visualize)
    * [Boxplot](#box)
    * [ Histograms ](#hist)
    * [Distplot ](#dist)
    * [ Scatterplot ](#scatter)
    * [ Pairplot ](#pair)
10. [Conclusion](#con)
11. [Bibliography](#bib)

<a name="lib"></a>
### Python Libraries:

<b> Anaconda on your device (version 3.7 +) </b>

 <a href=https://www.anaconda.com/distribution/> Download here </a>

This contains porting for the library listed below. By downloading Anaconda it removes the need to import numerous libraries seperately.
 
 <b> Pandas </b> 
 
 <a href=https://pandas.pydata.org/getpandas.html> Download here </a>
 
This is a Python package designed to strucure information in rows and columns.  It is known for quick and easy data manipulation, aggregation, and visualization.  Python takes in data via a CSV, TSV file or SQL database and creates a Python object called a data frame. Brief Introducton of Panda outlined <a href=https://towardsdatascience.com/a-quick-introduction-to-the-pandas-python-library-f1b678f34673> here. </a>

<b> NumPy </b> 

<a href=http://www.numpy.org/> Download here </a>

This is a numerical library, performs many mathematical operations and handles i.  Brief introductiion outlined <a href=https://towardsdatascience.com/a-quick-introduction-to-the-numpy-library-6f61b7dee4db> here. </a>

<b> Matplotlib </b> 

<a href=https://matplotlib.org/downloads.htmll> Download here </a>

This is a plotting library, makes  2D plots  that helps in the visualisation of figures using one or multiple numeric variables. It can generate histograms, pie charts, time series, boxplot, violin plot, stack plot, stem plots and scatter plots.  It can be used in Python scripts, Jupyter notebook, and web application servers.  Brief Introduction outlined  <a href=https://towardsdatascience.com/data-visualization-using-matplotlib-16f1aae5ce70> here. </a>

<b> Seaborn </b>

This a satistical plotting library  which has more advanced data visualisation than matplotlib (both are plotting libraries). Seaborn produces nice visualizations eliminating much of the work necessary for producing similar visualizations with matplotlib. It gives a high-level interface to draw statistical graphs, making it easier to generate more complex visualizations. Brief introduction outlined <a href=https://towardsdatascience.com/data-visualization-using-seaborn-fc24db95a850> here. </a>

<b> Scikit-learn </b>

Simple and efficient tool that can be used for data miming or data analysis. It's library contains a lot of effiecient tools for machine learning and statistical modeling including classification, regression, clustering and dimensionality reduction. It comes as part of the anaconda package Brief introduction outlined <https://scikit-learn.org/stable/install.html > here. </a>

In [32]:
# Import the following libraries:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

<a name="tip"></a>
### Tips dataset csv:

 <a href=https://github.com/pandas-dev/pandas/blob/master/doc/data/tips.csv> Download here </a>

In [33]:
# Read the csv file
tips = sns.load_dataset("tips")

<a name="sum"></a>
###  Dataset Summary

<a name="shape"></a>
<b> A. Shape </b>

Confirms the shape of the tips dataset in terms of the number of rows and columns

In [31]:
# Check how many rows and columns there are in the tips dataset.

print("The shape of the dataset is: ", tips.shape)

The shape of the dataset is:  (244, 7)

In [43]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

<a name="info"></a>
 <b> D. Info </b>
    
Provides information on the tips dataset including names of columns, total number of rows and columns, data type of each column, range index and memory usage.

In [40]:
# Determine data columns data type:

tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

<a name="isnull"></a>
<b> E. Null Values </b>

Determine if there is any null values in the dataset. This confirms there is no null values in the tips dataset.

In [41]:
# Determine if there is any null values in the dataset
print("Null values present:")

tips.isnull().any()

Null values present:

total_bill    False
tip           False
sex           False
smoker        False
day           False
time          False
size          False
dtype: bool

<a name="head"></a>
<b> F. Head of tips dataset: </b>

The head funtion displays the first 4 rows of the dataframe. A different number of rows can be displayed, if we change the input between the parentheses ().

In [35]:
# List the top 4 rows of the dataset. This allows us to see the structure 
# of the dataset with respects the columns

tips.head(4)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2

<a name="tail"></a>
<b> G. Tail of the tips dataset: </b>

The tail funtion displays the last 4 rows of the dataframe.

In [37]:
# List the last 4 rows of the dataset. This allows us to see the structure 
# of the dataset with respects the columns

tips.tail(4)

     total_bill   tip     sex smoker   day    time  size
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [45]:

df = pd.DataFrame(tips) # create Pandas data frame

In [46]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

<a name="class"></a>
<b> E. Class Distribution: </b>

Class distribution - number of rows that belong to each species. This shows that data is distributed equally across the 3 species.

In [48]:
tips.groupby(by="sex").size()

sex
Male      157
Female     87
dtype: int64

In [56]:
tips.groupby(by='sex')['total_bill'].sum()

sex
Male      3256.82
Female    1570.95
Name: total_bill, dtype: float64

In [50]:
tips.groupby(by='smoker').size()

smoker
Yes     93
No     151
dtype: int64